<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/eventree2.png" height="75" width="75"> </div>
  </a>
  <a href="/signup" class="btn btn-primary" id="navsign">Sign Up</a>
  <a href="/login" class="btn btn-primary" id="navlogin">Login</a>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <img src="/img/eventree.png" height="300" width="300"> </div>
    </div>
  </div>
</header>