<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">EvenTree Icon</a>
    <a href="/signup" class="btn btn-primary">Sign Up</a>
    <a href="/login" class="btn btn-primary">Login</a>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">evenTree</h1>
      </div>
    </div>
  </div>
</header>