<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/eventree2.png" height="75" width="75"> </div>
  </a>
  <a href="/signup" class="btn btn-primary" id="navsign">Sign Up</a>
  <a href="/login" class="btn btn-primary" id="navlogin">Login</a>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center" id="memImg">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Welcome! (Insert logged in username)</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <a href="/events" class="btn btn-primary" id="event-selector">Select an Event</a>
        <a href="/create" class="btn btn-primary" id="event-creator">Create an Event</a>
      </div>
    </div>
  </div>
</header>